.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  height: 120px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Layout */
.container {
  padding: 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 30px;
  }
}

/* Mobile */
@media (max-width: 600px) {}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {}

/* Desktop */
@media (min-width: 1025px) {}

.layout {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 200px 1fr;
  }
}
