#card{
    position: static;
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;
}

.box {
  position: relative;
  top: 20px;
  left: 30px;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 20px;
  left: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
}
